@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #e2aadd;
}

#column-2 {
  background: #184f13;
}

#column-3 {
  background: #9cad8c;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #ffc0cb;
  }

  #column-1 {
    background-color: #ffe4e1;
  }

  #column-2 {
    background-color: #ffb6c1;
  }

  #column-3 {
    background-color: #ff69b4;
    width: 100%;
  }

  footer {
    background-color: #ff1493;
  }
  
  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #228b22;
  }

  #column-1 {
    background-color: #008000;
  }

  #column-2 {
    background-color: #90ee90;
  }

  #column-3 {
    background-color: #7cfc00;
    width: 33.3%;
  }

  footer {
    background-color: #68cdaa;
  }
   
  .col-3 {
    width: 33.3%;
  }
}
